body {
	background-color: #0a343a;    
}
#form {
    width:300px;
    margin:auto;
    background-color:#37777a;
    border:none;
}
#form legend{
    font-weight:bold;
    font-size:18px;
    color:#FFFFFF;
    background-color:#aee7de;
    padding:3px 8px 3px 8px;
}
#form input.btn {
width:inherit;
    padding:2px;
    color:#dff8fa;
    background-color:#006f4a;
    border:1px solid #000000;
}
A:link {color:#FFFF00;}
A:visited {color:#FFFF00;}
A:active {color:#FFFF00;}
A:hover {color:#0000ff;}
#form label{
    color:#FFFFFF;
}